<h1 class="title">Modifier un film</h1>
<button class="come-back-btn" routerLink="/movies">Revenir en arrière</button>

<form (ngSubmit)="updateMovie()">
<div class="form-container">
    <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" name="title" [(ngModel)]="movie.title" placeholder="Entrez le titre du film"/>
    </div>
    <div class="form-group">
        <label for="director">Réalisateur</label>
        <input type="text" id="director" name="director" [(ngModel)]="movie.director" placeholder="Nom du réalisateur"/>
    </div>

    <div class="form-group">
        <label for="releaseDate">Date de sortie</label>
        <input type="date" id="releaseDate" name="releaseDate" [ngModel]="movie.releaseDate | date:'yyyy-MM-dd'" (ngModelChange)="movie.releaseDate = $event"/>
    </div>

    <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea id="synopsis" name="synopsis" [(ngModel)]="movie.synopsis" placeholder="Décrivez le film..."></textarea>
    </div>

    <button class="btn add-movie-btn" (click)="updateMovie()">Modifier</button>
</div>
</form>