<h1 class="title">Liste des Utilisateurs</h1>

<button class="come-back-btn" routerLink="/admin">Revenir en arrière</button>

<div class="container">
    <div class="table-responsive">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Points</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (user of users; track user.id) {
                    <tr>
                        <td class="fw-bold">{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.points }}</td>
                        <td class="action-buttons">
                            <button class="delete-movie-btn" (click)="deleteUser(user.id)"><i class="bi bi-trash-fill"></i>Supprimer</button>
                            <button class="update-movie-btn" [routerLink]="['/update-user', user.id]"><i class="bi bi-pen-fill"></i>Modifier</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>