/* Style du titre */
.title {
    text-align: center;
    margin: 2% 0;
    font-size: 2rem;
    font-weight: bold;
    color: #5D5C61;
    text-transform: uppercase;
}

/* Table styling */
.custom-table {
    margin-top: 2%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* En-tête du tableau */
.custom-table thead {
    background-color: #A6D1E6; /* Bleu pastel */
    color: #444;
    font-size: 16px;
}

/* Style des cellules */
.custom-table th, 
.custom-table td {
    padding: 12px;
    text-align: center;
    font-size: 15px;
}

/* Alternance de couleur pour les lignes */
.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris clair */
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Blanc */
}

/* Effet hover */
.custom-table tbody tr:hover {
    background-color: #e0e0e0; /* Gris légèrement plus foncé au survol */
    transition: 0.3s;
}

/* Badge de note */
.rating {
    background-color: #77DD77; /* Vert pastel */
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px;
}

/* Synopsis Styling */
.synopsis {
    white-space: normal;
    word-break: break-word;
    max-width: 300px;
    text-align: justify;
    color: #444;
}
