<h1 class="title">S'inscrire</h1>

<div class="form-container">
    <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" placeholder="Entrez votre prénom"/>
    </div>

    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" placeholder="Entrez votre nom"/>
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" [(ngModel)]="user.age" placeholder="Entrez votre âge"/>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <textarea id="email" name="email" [(ngModel)]="user.email" placeholder="Entrez votre email"></textarea>
    </div>

    <button class="btn add-movie-btn" (click)="addUser()">S'inscrire</button>
</div>
